<%= link_to "每日即時重大訊息之公司", pages_path %>
<%= link_to '下載 PDF', root_path(format: :pdf) %>
<h1>天瓏書局 - 近30天中文熱門暢銷</h1>
<div>
  <% @doc.css('li.single-book .title a').each do |name| %>
    <%= name.content %><br/>
  <% end %>
</div>